body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 53%, rgba(11,11,11,1) 92%); color: white;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
.App {
  text-align: center;
  }

.spotify-btn{
  background-color: #1ED760;
  color: white;
  width: 150px;
  padding: 8px;
  font-size: medium;
  border-radius: 15px;
}